body {
  text-align: center;
  display: flex;
  align-content: center;
  margin-top: 24px;
  flex-flow: column wrap;
}
#calculator {
  padding: 12px 10px 6px;
  border: solid 1px #93B5C6;
  border-radius: 8px 8px 4px 4px;
  background: linear-gradient(to bottom,#93B5C6 0%,#C9CCD5 68px,#E4D8DC 68px,#FFE3E3 100%);
}
#output {
  width: 200px;
  height: 44px;
  font: bold 30px/44px monospace;
  border: solid 1px #004643;
  border-radius: 2px;
  margin-bottom: 28px;
  text-align: right;
  padding: 0 0 0 2px;
  box-sizing: border-box;
  background: #FFE3E3;
  border-radius: 2px;
  white-space: nowrap;
  overflow: hidden;
  box-shadow: inset 1px 1px 2px 2px rgba(0, 0, 0, 0.15);
}

#keypad {
  width: 200px;
  height: 240px;
  display: grid;
  grid-template-columns: repeat(4, 40px);
  grid-template-rows: [row1] [row2] [row3] [row4] [row5];
  justify-content: space-between;
}

button {
  height: 40px;
  width: 40px;
  text-align: center;
  font-size: 28px;
  font-weight: bold;
  cursor: pointer;
  border-radius: 4px;
  box-shadow: 2px 2px 3px rgba(0, 0, 0, 0.3);
  outline: 0;
  background: #93B5C6;
}

button:active {
  background: #C9CCD5;
}

.clear {
  grid-column: 1 / span 4;
  grid-row: 1 / span 1;
  background: #FFE3E3;
}
