html{
    background: #93FFD8;
    text-align: center;
}

h1{
    color: #7900FF;
    text-align: center;
}

button {
  padding: 10px;
  width: 67px;
  height: 45px;
  margin-top: 10px;
  background-color: #548CFF;
  color: black;
  font-size: 20px;
  border: 1px solid #7900FF;
}

button:hover {
  cursor: pointer;
  background-color: #7900FF;
}
button:active {
  background-color: #548CFF;
}

.display {
      background-color: #CFFFDC;
      padding: 15px;
      width: 250px;
      text-align: right;
      font-size: 30px;
      border-top-left-radius:10px;
      border-top-right-radius:10px;
      margin: auto;
}

#r1-1, #r5-1{
    width: 138px;
}